version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres_api_negocio
    restart: always
    environment:
      POSTGRES_DB: api_negocio_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
